
        .body {
      margin: 0;
	  width:100%;
	  height:100vh;
	  display:flex ;
	  align-items:center ;
	  background:#024f24;
	  overflow:hidden ;
      font-family: sans-serif;
    }
    
    .our-scrolling-ticker {
      background-color: #f5f5f5; /* رنگ پس‌زمینه */
      padding: 15px 0;
    }

    .scrolling-ticker-box {
      position: relative;
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: 20px;
      align-items: center;
    }

    .scrolling-content {
      flex-shrink: 0;
      display: flex;
      gap: 20px;
      min-width: 100%;
      animation: scroll 20s linear infinite;
    }

    .scrolling-content div {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.2em;
      color: #000;
    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(50%);
      }
    }